<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @contract.start_time %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @contract.completed %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @contract.observations %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @contract.recurring %>
</p>

<p>
  <strong>User:</strong>
  <%= @contract.user %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @contract.payment %>
</p>

<p>
  <strong>Service:</strong>
  <%= @contract.service %>
</p>





<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
