<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @contract.service.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @contract.start_time.to_date.strftime('%d/%m/%Y') %>
</p>



<p>
  <strong>Observations:</strong>
  <%= @contract.observations %>
</p>
 |
<%= link_to 'Back', contracts_path %>
